@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  font-family: "DynaPuff", cursive;
}

body {
  @apply bg-mainBg;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1320px;
  margin: 0 auto;
}
