@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DynaPuff", cursive, sans-serif;
}

body {
  @apply bg-mainBg;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1320px;
  margin: 0 auto;
}
